1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 BEGIN
   BLOCK "StringFileInfo"
   BEGIN
     BLOCK "040904b0"
     BEGIN
       VALUE "CompanyName",      "Levitifox\0"
       VALUE "FileDescription",  "Now playing\0"
       VALUE "FileVersion",      "1.0.0.0\0"
       VALUE "ProductName",      "Now playing\0"
       VALUE "ProductVersion",   "1.0.0.0\0"
     END
   END
   BLOCK "VarFileInfo"
   BEGIN
     VALUE "Translation", 0x0409, 1200
   END
 END

IDI_MAIN_ICON ICON "app.ico"
